# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
node_modules/
# production
/es
/docs-dist
**/**/lib/**
**/**/es/**
# misc
.DS_Store
/coverage
.DS_Store
npm-debug.log*
yarn-error.log
# umi
.umi
.umi-production
.umi-test
.env.local

# ide
/.idea
